-var titles = "Gamming"
-var title = ["Platzi Games", "About", "Games"]
-var usuario = "Natasha"
-var enlace = ["US", "News", "Contact"]
mixin caja
 .caja
   .caja__imagen: img(src="images/imagen.png/imagen.png")
   .caja__contenido
     h3 #{title[1]}
     p Lorem ipsum, dolor sit amet consectetur adipisici
     block Contenidos
 
