* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Helvetica;
}
.buscador {
  width: 100%;
  height: 250px;
  padding: 100px;
  text-align: center;
  background-color: #04b2d9;
}
.buscador__input {
  width: 75%;
  height: 60px;
  border-radius: 10px;
  border: none;
  padding: 30px;
  font-size: 25px;
}
h2 {
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 50px;
}
.filtros {
  width: 240px;
  height: 75px;
  padding: 20px;
  margin-left: auto;
  background-color: #fff;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.2);
}
.filtros span {
  text-transform: uppercase;
}
.filtros a {
  margin-left: 20px;
  font-size: 25px;
  color: #11a1e3;
}
img {
  width: 500px;
  height: auto;
}
.contenido {
  margin-bottom: 40px;
  justify-content: space-evenly;
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}
.caja {
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.caja__contenido {
  padding: 20px;
  background-color: #fff;
}
.caja__contenido span {
  text-transform: uppercase;
  color: #04b2d9;
  font-family: arial;
}
.caja__contenido height {
  text-transform: uppercase;
}
.estadistica--articulos {
  height: 70px;
  padding: 20px;
  border-top: 1px solid #04b2d9;
}
.estadistica--articulos ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}
.estadistica--articulos ul li {
  list-style: none;
}
.estadistica--articulos ul span {
  margin-left: 10px;
  color: #11a1e3;
}
