color-secundario = #04B2D9;
color-terciario = #11A1E3
color-blanco = #fff; 

* 
    box-sizing: border-box

body 
 margin:0 
 font-family: Helvetica

 .buscador 
  width:100%;
  height:250px;
  padding:100px;
  text-align:center;
  background-color: color-secundario;
  &__input
    width:75%;
    height:60px;
    border-radius:10px;
    border:none;
    padding:30px;
    font-size:25px;
img 
 width:500px;
 height:auto;

.encabezado--con-filtro
  display:flex
  align-items:center;
  justify-content: center;
  width: 90%
  margin: 0 auto;
  padding:30px 0;
h2
   margin-top:10px
   text-transform:uppercase;
   font-weight:500
   font-size:50px
.filtros
   width:240px
   height 75px
   padding 20px
   margin-left: auto;
   span 
    text-transform:uppercase
   a 
    margin-left: 20px
    font-size:25px