img 
 width:500px;
 height:auto;

.contenido
    margin-bottom:40px
    justify-content: space-evenly
    contenedor()
.caja 
  max-width:500px
  caja-sombra()
  border-radius:10px
  &__contenido
     padding:20px
     background-color: color-blanco
     span 
       text-transform:uppercase
       color:color-secundario
       font-family: arial
     height 
       text-transform: uppercase