.encabezado--con-filtro
  contenido()
h2
   text-align: center
   margin-top:10px
   text-transform:uppercase;
   font-weight:500
   font-size:50px
.filtros
   width:240px
   height 75px
   padding 20px
   margin-left: auto;
   caja-sombra()
   span 
    text-transform:uppercase
   a 
    margin-left: 20px
    font-size:25px
    color: color-terciario;