color-secundario = #04B2D9;
color-terciario = #11A1E3
color-blanco = #fff; 
contenedor()
  display:flex
  width: 90%
  margin: 0 auto;
  padding 30px 0;
caja-sombra()
  background-color:color-blanco
  box-shadow: 0px 20px 33px 0px rgba(0,0,0,.20)
* 
    box-sizing: border-box

body 
 margin:0 
 font-family: Helvetica