doctype html
html 
    body
     header(class="header")
      nav 
       a(href="#", class="navigator")
        main(class="main")
         h1
          hdsbhkdbkcsbhb
         p 
          ljsncsdncndkds 
    footer 
    script(src="")  