.galeria{
    width:60%;
    height:250px;
    margin:10px auto;
    padding:20px 0 0 30px;
    justify-content: space-evenly;
    /* @include caja; */
    &__foto-principal{
        float:left;
        margin-right: 10px;
    }
    &__fotos-adicionales{
        height: 50px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    h2{
        color: get-opacity($Color-claro, 50%);
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        font-family: $Fuente1;
    }
    img {
        border-radius: 10px;
    }
}